@import url("https://fonts.googleapis.com/css2?family=Huninn&family=Outfit:wght@100..900&display=swap");
.container {
  font-family: "outfit", sans-serif;
  padding: 40px;
  background-color: #e7f0e6;
  text-align: center;
  margin-left: 182px;
  margin-right: 182px;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.container h1 {
  font-size: 50px;
  margin-bottom: 40px;
  color: #00ad4e;
}
.icon {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
  color: #ffffff;
}
.cardsWrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.card {
  width: 280px;
  height: 287px;
  background: #0039a6;
  padding: 20px;
  margin: 20px auto;
  font-size: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
  text-align: center;
}

.titleCard {
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
}
